<div class="example-container">
  <form class="example-container" [formGroup]="form" (ngSubmit)="aceptar()" #signoForm="ngForm">
    <div>

      <mat-form-field class="tp-full-width">
        <input type="text" placeholder="Paciente" required matInput [matAutocomplete]="autoPaciente"
               [formControl]="myControlPaciente" formControlName="paciente">
      </mat-form-field>
      <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="displayFn"
                        (optionSelected)="seleccionarPaciente($event)">
        <mat-option *ngFor="let p of filteredOptionsPaciente | async" [value]="p">
          {{ p.nombres }} {{p.apellidos}}
        </mat-option>
      </mat-autocomplete>
      <button mat-raised-button color="primary" type="button" (click)="openDialog()">Nuevo Paciente</button>
    </div>
    <div>
    <mat-form-field class="tp-full-width">
      <input matInput [matDatepicker]="picker"  required placeholder="Escoge una fecha" [max]="maxFecha"
             formControlName="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</div>
    <mat-form-field>
      <input matInput placeholder="Temperatura" [(ngModel)]="temperatura"  required formControlName="temperatura" type="number"
             maxlength="3">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Pulso" [(ngModel)]="pulso"  required formControlName="pulso" type="number" maxlength="3">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ritmo" [(ngModel)]="ritmo"  required formControlName="ritmo" type="number" maxlength="3">
    </mat-form-field>
    <!--<div class="example-button-row">-->
    <button mat-raised-button color="primary" type="submit" [disabled]="signoForm.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
    </button>
    <br>
    <button mat-raised-button color="accent" routerLink='/signos' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
   <!-- </div>-->
  </form>
</div>


