.example-container{
  display: flex;
  flex-direction: column;
}
.example-container>*{
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}
.tp-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.tp-full-width {
  width: 40%;
}
