<mat-toolbar>Nuevo Paciente</mat-toolbar>

<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #frmPacienteD="ngForm">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="ID" required formControlName="id">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombres" required formControlName="nombres">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellidos" required formControlName="apellidos">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="DNI" required formControlName="dni" type="number" max="8" maxlength="8">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Dirección" required formControlName="direccion">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Teléfono" required formControlName="telefono" type="number" max="9" maxlength="9">
  </mat-form-field>
  <!--<div mat-dialog-actions>-->
    <button mat-raised-button color="primary" type="submit" [disabled]="frmPacienteD.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
    </button>
  <br>
    <button mat-raised-button color="accent" (click)="cancelar()" type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
    </button>
  <!--</div>-->
</form>
<!--
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
-->
