
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}


.mat-table {
  overflow: auto;
  max-height: 500px;
}


.example-card {
  max-width: 70%;
  align-content: center;
  margin: 0 auto;
}
