<mat-card class="example-card">
  <mat-card-header class="header-cat">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="name">{{usuario}}</mat-card-title>
    <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar>Roles del usuario</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item  *ngFor="let link of roles"> {{ link }} </a>
    </mat-nav-list>
  </mat-card-content>

</mat-card>

