.header {
   max-width: 100%;
   height: 320px;
   background-image: url('/assets/dark-material-bg.jpg') ;
   background-size: cover;
 }
.example-card {
  max-width: 100%;
  padding: 0 0 0 0;

}
.header-cat{
  padding: 15px 0 15px 25px;
  background-image: url('/assets/dark-material-bg.jpg') ;
}
.example-header-image {
  background-image: url('https://cdn.pixabay.com/photo/2014/04/03/10/32/businessman-310819_1280.png');
  background-size: cover ;
  margin-right: 24px;
  width: 96px;
  min-width: 96px;
  height: 96px;
  line-height: 96px;

}
.avatar.huge {
  width: 96px;
 min-width: 96px;
  height: 96px;
  line-height: 96px;
}
.name {
  font-size: 34px;
  color: #FFFFFF;
  padding: 30px 0 0 0;
}
.title-p{
  font-size: 24px;
  color: black;
}









.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
